@import url(d:\Front End\Pierwsza strona\sass\reset.css);
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 20px;
}

.wrapper {
  width: 80%;
  margin: 10px auto;
}

h2 {
  text-transform: uppercase;
  text-align: center;
}

.underline {
  margin: 10px auto;
  width: 60px;
  height: 4px;
  background-color: #5f61e0;
}

.scroll-fix::before {
  content: '';
  display: block;
  height: 52px;
  margin-top: -52xx;
}

p {
  font-family: 'Patrick Hand', cursive;
  font-size: 18px;
}

.os-animation {
  font-family: 'Covered By Your Grace', cursive;
}

.btn {
  font-family: 'Patrick Hand', cursive;
}

nav {
  text-transform: uppercase;
  -webkit-transition: .6s;
  transition: .6s;
}

nav a, nav i {
  color: #fff200;
  -webkit-transition: color .3s;
  transition: color .3s;
}

nav a:hover {
  color: #5f61e0;
}

nav i {
  padding: 8px;
}

nav .navbar-brand {
  font-weight: bold;
}

nav .active {
  color: #5f61e0;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.85);
}

header {
  color: #fff;
  overflow: hidden;
}

header h1 {
  text-transform: uppercase;
}

header .hero-img {
  position: relative;
  height: 100vh;
  background-image: url("../img/hero-small3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

header .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}

header .hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 85%;
  font-size: 30px;
}

header .btn-outline-light {
  text-transform: uppercase;
  font-size: 15px;
}

header .fa-angle-double-down {
  display: none;
}

#aboutus i {
  font-size: 40px;
  margin-top: 40px;
}

#aboutus .aboutus-hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  visibility: hidden;
}

#aboutus .aboutus-hover:hover {
  color: #5f61e0;
}

#aboutus-hero .jumbotron {
  position: relative;
  height: 480px;
  background-image: url("../img/aboutus-img.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

#aboutus-hero .about-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#aboutus-hero p, #aboutus-hero h3 {
  color: white;
}

#aboutus-hero h2 {
  margin-top: 50px;
  color: white;
}

#aboutus-hero i {
  font-size: 40px;
  margin-top: 70px;
}

#aboutus-hero .aboutus-hover {
  -webkit-transition: color .3s;
  transition: color .3s;
  visibility: hidden;
}

#portfolio .underline {
  margin-bottom: 30px;
}

#portfolio .carousel-item {
  position: relative;
  height: 800px;
}

#portfolio .carousel-item img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#portfolio .carousel-capiton {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

#portfolio h2 {
  margin-top: 10px;
}
/*# sourceMappingURL=main.css.map */